@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


body {
    overflow-x: hidden;
  }
  
  .black {
    display: none;
    height: 0;
    width: 0;
  }
  
  button {
    border: 1px solid #000;
    padding: 10px;
    margin: 0 1px;
    background: transparent;
    font-weight: bold;
    transition: all 300ms ease-in-out;
    cursor: pointer;
    color: #000;
  }

  button:hover {
    background: rgb(53, 53, 53);
    border: 1px solid rgb(53, 53, 53);
    color: white;
  }
  
  .fbtn {
    border-radius: 30px;
    margin-right: 12px;
  }
  
  .perso {
    color: #fff;
    background: #000;
    border-radius: 30px;
  }
  
  .perso:hover {
    color: #fff;
  }


  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    position: relative;
  }
  
  nav .name {
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 200;
  }
  
  nav .name h4 {
    font-weight: 400;
  }

  
  nav .name h4:hover {
    transition: all 300ms ease-in-out;
    color: rgb(181, 181, 181);
    font-weight: 300;
  }
  
  nav .link ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
  }
  
  nav .link ul li {
    padding: 0 20px;
  }
  
  nav .link ul li a {
    display: inline-block;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    font-weight: 545;
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    overflow: hidden;
  }
  
  nav .link ul li a::after {
    content: "";
    position: absolute;
    background-color: rgb(0, 0, 0);
    bottom: 0;
    right: 100%;
    width: 0;
    height: 2px;
    transition: width 0.3s ease-in-out, right 0.3s ease-in-out;
    color: rgb(181, 181, 181);
  }
  
  nav .link ul li a:hover::after {
    color: rgb(181, 181, 181);
    width: 100%;
    right: 0;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 90vh;
    margin: auto;
  }
  
  .container .texte {
    padding: 100px;
  }
  
  .container .texte h1 {
    padding: 8px;
    font-weight: bold;
    font-size: 2.5rem;
  }
  
  .container .texte p {
    font-size: 1.5rem;
  }
  
  .container .texte h2 {
    padding-top: 0px;
    padding-bottom: 8px;
    font-size: 2rem;
    color: rgb(53, 53, 53);
  }
  
  .container .texte .button {
    margin-top: 8px;
    margin-bottom: 18px;
  }
  
  .container .photo {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    overflow: hidden;
    background: linear-gradient(45deg, #f1f1f1, rgb(181, 181, 181));
    padding: 1px;
    border: 2px solid #000;
    animation: fx 1.5s linear infinite;
  }

  
  .container .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  .social-media {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
  }
  
  .social-media i {
    cursor: pointer;
    font-size: 35px;
    border-radius: 50%;
    transition: all 200ms ease;
    display:inline-block;
  }
  
  .social-media i:hover {
    font-size: 40px;
    color: rgb(53, 53, 53);
  }
  
  .linkdin {
    border-radius: 50%;
  }

  #about {
    position: relative;
    height: auto;
  }
  
  .about-containers {
    gap: 2rem;
    margin: 0 auto;
    width: 80%;
  }

  .about-containers img{
    height: 100px;
    width: 100px;
  }
  
  .about-details-container {
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
  }

  .details-container{
    transition: .3s linear;

  }
  .details-container:hover{
    transform: scale(1.03);

  }

  .contacts {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background-color: #fff;
  }
  
  .contact-section {
    width: 100%;
    max-width: 650px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .contact-section h1 {
    color: #000;
    font-size: 2.5rem;
    margin-bottom: 15px;
  }
  
  #contactForm {
    width: 100%;
    text-align: left;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
label {
  color: #000;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

input, textarea {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease-in-out;
  box-sizing: border-box;
}

input:focus, textarea:focus {
  outline: none;
  border-color: #000;
}

.contacts button {
  background-color: #000000;
  color: #fff;
  padding: 12px 24px;
  border: none;
  font-size: 18px;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #f1f1f1;
  border: 1px solid #000;
  color: #000;
}
  
  .about-containers,
  .about-details-container {
    display: flex;
  }
  
  .about-pic {
    border-radius: 2rem;
  }
  
  .arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
  }
  
  .details-container {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
  }
  
  .section-container {
    gap: 4rem;
    height: 80%;
  }
  
  .section__pic-container {
    height: 400px;
    width: 400px;
    margin: auto 0;
  }
  

  @media only screen and (max-width: 480px) {
    .menu-toggle {
      display: block;
      position: relative;
      height: 60px;
      z-index: 9999;
    }
  
    .link {
      display: none;
      background: #000;
    }
  
    .link.active {
      display: block;
    }
  
    .link.active a {
      color: #f1f1f1;
    }
  
    .link.active ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: -20px;
      left: 0;
      width: 100%;
      height: auto;
      background-color: rgba(0, 0, 0, 0.9);
      z-index: 2;
      padding: 20px;
    }
  
    .menu-toggle .fas.fa-bars {
      transition: transform 0.3s ease;
    }
  
    .menu-toggle.active .fas.fa-bars {
      transform: rotate(90deg);
    }
  
    .menu-toggle.active .fas.fa-bars::before {
      top: 0;
      transform: rotate(180deg);
    }
  
    .menu-toggle.active .fas.fa-bars::after {
      bottom: 0;
      transform: rotate(-180deg);
    }
  }


  .certifications {
    background-color: #fff;
    padding: 50px 0;
    text-align: center;
  }
  
  .certification-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0px;
  }
  
  .certification-card {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: 400px;
    max-width: 350px;
    border: 1px solid rgb(53, 53, 53);
    transition: 0.5s linear;
  }

  .certification-card img {
    width: 100%;
    margin: 25px auto;
  }
  
  .certification-card:hover {
    transform: scale(1.035);
  }
  
  .certification-card h3 {
    font-size: 1.5rem;
    margin-bottom: 0px;
  }
  
  .certification-card p {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  
  .download-button {
    display: inline-block;
    background-color: rgb(53, 53, 53);
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .download-button:hover {
    background-color: #000;
  }


  .skills {
    padding: 5rem 0 2.5rem 0;
 }
  
  .skills > .text {
    width: 70%;
    margin: 1.5rem auto;
    text-align: center;
  }
  
  .skills .row {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  
  .skills .row>.col {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .skills .skill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
  }
  
  .skills .skill h4 {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
  
  .skills .skill p {
    font-size: 1rem;
    margin-bottom: 0;
  }
  
  .skills .skill .bar {
    background-color: rgb(53, 53, 53);
    width: 70%;
    height: 20px;
    border-radius: 20px;
  }
  
  .skills .skill .bar .inner {
    background-color: #f1f1f1;
    height: 100%;
    width: 70%;
    border-radius: 20px;
  }


  .contact {
    padding: 50px 0;
    background-color: #f9f9f9;
  }
  
  .contact .contact-info {
    text-align: center;
    padding: 0 0 50px 0;
  }
  
  .contact .contact-info h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .contact .contact-info p {
    font-size: 1.1rem;
    margin-bottom: 50px;
  }
  
  .contact .contact-form {
    max-width: 500px;
    margin: 0 auto;
  }
  
  .contact .contact-form .form-group {
    margin-bottom: 20px;
  }
  
  .contact .contact-form input[type="text"],
  .contact .contact-form input[type="email"],
  .contact .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact .contact-form input[type="submit"] {
    background-color: rgb(53, 53, 53);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact .contact-form input[type="submit"]:hover {
    background-color: #000;
  }


  footer {
    background-color: #000;
    padding: 2px 0;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  footer p {
    font-size: 0.9rem;
    color: #fff;
    margin-bottom: 0;
  }
  
  footer a {
    color: #f1f1f1;
    text-decoration: underline;
    transition: color 0.3s ease;
  }
  
  footer a:hover {
    color: #ccc;
  }

  .skills {
    padding: 5rem 0 2.5rem 0;
    margin: -40px auto;
    overflow: hidden;
}

    .skills > .text {
        width: 70%;
        margin: 1.5rem auto;
        text-align: center;
    }

    .skills .row {
        margin: 1rem 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .skills .title h1{
        font-size: 2.5rem;

    }
    .skills .item {
        padding: 0.5rem 0;
        margin: 0.3rem 0;
    }

    .skills .item-text {
        display: flex;
        justify-content: flex-start;
        font-weight: 600;
        font-size: 1.3rem;
        position: relative;
    }

    .skills .item-text span:last-child{
        position: absolute;
    }

    .skills .item .w-98 {
        width: 98%;
    }

    .skills .item-text .w-98 {
        margin-left: 47%;
    }

    .skills .item .w-85 {
        width: 85%;
    }

    .skills .item-text .w-85 {
        margin-left: 40.5%;
    }

    .skills .item .w-55 {
        width: 55%;
    }

    .skills .item-text .w-55 {
        margin-left: 25%;
    }

    .skills .item .w-60 {
        width: 60%;
    }

    .skills .item-text .w-60 {
        margin-left: 28%;
    }

    .skills .item .w-51 {
        width: 51%;
    }

    .skills .item-text .w-51 {
        margin-left: 23%;
    }

    .skills .item .w-40 {
        width: 40%;
    }

    .skills .item-text .w-40 {
        margin-left: 18%;
    }

    .skills .item .w-10 {
        width: 20%;
    }

    .skills .item-text .w-10 {
        margin-left: 8%;
    }

    .progress {
        margin: 0.8rem 0;
        border-radius: 10px;
        height: 16px;
        width: 100%;
        background-color: rgb(53, 53, 53);
        overflow: hidden;
    }

    .progress-bar {
        height: 100%;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
    }



  @media only screen and (max-width: 480px) {
    .link{
        display: none;
    }

    .first {
        margin-top: 25px;
        margin-bottom: 60px;
    }

    .container {
        display: block;
        margin-bottom: 0;
    }

    .container .texte {
        padding: 10px;
    }

    .container .texte h1 {
        font-size: 1.5rem;
        margin: 15px;
    }

    .container .texte h2 {
        font-size: 1.2rem;
        margin: 25px auto;
    }

    #justMargin {
        margin: 30px auto;
      }
      

    .container .photo {
        width: 150px;
        height: 150px;
        margin: 15px auto;
    }

    nav .name {
        font-size: 1.5rem;
    }

    nav .link ul li a {
        font-size: 1.2rem;
    }

    button{
        margin: 25px 5px;
        height: 50px;
        font-size: 1rem;
        padding: 20px auto;
    }

    .fbtn{
        padding: 10px 20px;
    }

    .perso{
        padding: 10px 20px;
    }

    .social-media{
        margin-top: 40px;
        margin-bottom: 0;
    }

    .social-media i{
        font-size: 2.5rem;
    }

    .black {
        display: flex;
        background: #000;
        height: 70px;
        width: 100%;
    }

    .black i {
        color: #f1f1f1;
        position: relative;
        font-size: 2rem;
        margin: 15px 15px;
    }

    .menu-toggle {
        display: block;
        position: relative;
        height: 60px;
        z-index: 9999;
    }
    .link {
        display: none;
        background: #000;
    }
    .link.active {
        display: block;
    }
    .link.active a{
        color: #f1f1f1;
    }

    .link.active ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -20px;
        left: 0;
        width: 100%;
        height: auto;
        background-color: rgba(0, 0, 0,.9);
        z-index: 2;
        padding: 20px;
    }

    .menu-toggle .fas.fa-bars {
        transition: transform 0.3s ease;
    }

    .menu-toggle.active .fas.fa-bars {
        transform: rotate(90deg);
    }

    .menu-toggle.active .fas.fa-bars::before {
        top: 0;
        transform: rotate(180deg);
    }

    .menu-toggle.active .fas.fa-bars::after {
        bottom: 0;
        transform: rotate(-180deg);
    }

    .certifications {
        margin-top: -250px;
    }

    .skills .row {
        margin: 1rem -25px;
        display: block;
    }

    .skill .row .item-text {
        margin: 15px auto;
    }

    .item{
        margin: 17px 0;
    }
}
